<header class="bg-black text-white p-8 flex justify-between items-center">
    <a href="/authentication/logout">Logout</a>
    <div class="profile text-center flex flex-col items-center w-[5%] gap-2">
        <img src=<%= user.profileImg %> alt="" class="w-full rounded-full border">
        <span><%= user.firstName %></span>
    </div>
</header>