<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3000/admin/author" method="post" id = "authorForm">  
        <div class="">
            <input type="text" placeholder="Enter Author Name" name="authorName" required>
            <input type="date" name="dob" id="">
            <input type="text" placeholder="Enter Author Pen-Name" name="penName">
            <input type="text" placeholder="Enter Author Country" name="country" required>
        </div>
        <div class="">
            <input type="text" placeholder="Enter Author Name" name="authorName" required>
            <input type="date" name="dob" id="">
            <input type="text" placeholder="Enter Author Pen-Name" name="penName">
            <input type="text" placeholder="Enter Author Country" name="country" required>
        </div>
        <button type="submit">Submit</button>
    </form>

    <script type="module" src="./authorScript.js"></script>
</body>
</html>